.navbar {
    background-image: linear-gradient(45deg, #a3d5f7, #4a90e2);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: safe center; /* Centra horizontalmente */
    align-items: center;
    overflow-x: auto;
    height: 50px
}

.navbar::-webkit-scrollbar {
    height: 30px;
}

.navbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

.navbar::-webkit-scrollbar-thumb {
    background: #4a90e2;
    border-radius: 15px;
    border: 4px solid rgba(255, 255, 255, 0.5);
}

.navbar {
    scrollbar-width: auto;
    scrollbar-color: #4a90e2 transparent;
    -webkit-overflow-scrolling: touch;
}

.navbar a {
    margin: 0 0.5em;
    margin-top: auto;
    margin-bottom: auto;
    font-size: xx-large;
    text-decoration: none;
    color: aliceblue;
}

body {
    font-family: 'Geom';
    font-weight: 600;
}